[submodule "framework"]
	path = framework
	url = https://github.com/venediktov/vanilla-rtb.git
[submodule "submodules/redisclient"]
	path = submodules/redisclient
	url = https://github.com/nekipelov/redisclient
